.choice {
    background: url("../img/bg-choice.jpg") center (center/cover) no-repeat;
    background-size: 100% 120%;
    background-position: 0% 70%;
    position: relative;
    min-height: 1255px;
    padding: 70px 250px;
    z-index: 49;

    img {
        position: absolute;
        left: 0;
        bottom: -72px;
    }

    &__cards {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__subtitle {
        font-size: calc(17px + 7 * ((100vw - 320px) / (1920 - 320)));
        line-height: 24px;
        margin-bottom: 15px;
    }
    &__bottom-title {
        color: $white-color;
        margin-top: 110px;
        margin-bottom: 60px;
    }
    &__top-title {
        max-width: 660px;
        color: $white-color;
        margin-bottom: 45px;
    }
    &__card-top {
        background: $white-color;
        padding: 25px 20px 30px;
        max-width: 370px;
        text-align: center;
        margin: 14px 0;
        &:nth-child(2) {
            margin: 14px 28px;
        }
    }
    &__top-text {
        font-size: calc(13px + 5 * ((100vw - 320px) / (1920 - 320)));
        line-height: 24px;
    }
    &__card-bottom {
        position: relative;
        padding: 100px 0 30px 40px;
        border: 1px solid $main-color;
        border-bottom: 11px solid $main-color;
        max-width: 370px;
        margin: 14px 0;
        &:nth-child(2) {
            margin: 14px 28px;
        }
    }
    &__bottom-text {
        color: $white-color;
        z-index: 10;
        font-size: calc(13px + 5 * ((100vw - 320px) / (1920 - 320)));
        line-height: 28px;
        position: relative;
        span {
            font-weight: 900;
            color: $white-color;
        }
    }

    &__card-number {
        text-shadow: #eb2629 -1px -1px 0, #eb2629 1px 1px 0, #eb2629 1px -1px 0,
            #eb2629 -1px 1px 0;

        font-size: 250px;
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 0;
    }
}
