.offer {
    &__descr {
        max-width: 929px;
        min-height: 81px;
        margin: 49px auto 0;
        text-align: center;
    }

    &__title {
        margin-top: 220px;
    }

    &__subtitle {
        width: 240px;
        margin-top: 20px;
    }

    &__wrap {
        display: flex;
        justify-content: space-evenly;
        margin-top: 72px;
        flex-wrap: wrap;
    }

    &__question {
        margin-top: 44px;
    }

    &__btn-price {
        width: 120px;
        height: 50px;
        margin-top: 31px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
}
